<div class='my-3'>
<h1 class='my-5 d-inline'>{{place.name}}</h1>

<form action="/addFavorite/{{place._id}}" method="POST">
<button type='submit'><i class="fas fa-heart"></i></button>
</form>
</div>

<img class="w-50 my-3" src="{{place.image}}" alt="">
<p>{{place.description}}</p>

<h4>Comments</h4>
{{#each place.reviews}}
  <div class="card w-75 my-3 border-top-0 border-right-0 border-left-0">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.comment}}</p>
    </div>
  </div>
{{/each}}

<div class="mt-5">
  <h5>Add A Comment</h5>
<form action="/add-comment/{{place._id}}" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="description"></input>
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
  </div>
  <div class="form-group form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
