<h1>Profile Page</h1>
<h2>Welcome {{user.email}}!</h2>
<h2>My Places</h2>

   {{#each places}}
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
        <button><a href='/edit/{{this._id}}'>Edit Place</a></button>
        <button><a href='/delete/{{this._id}}'>Delete Place</a></button>
    {{/each}}

</div>


    