{{!-- <h1 class='my-4 text-center h1 welcome'>Welcome!</h1> --}}
<img class=" d-flex text-center mx-auto welcome" src="../images/welcome.png">
<img class=" d-flex text-center mx-auto myplaces" src="../images/myplaces.png">
<div class="row my-3">
        {{#each places}}
         <div class="col-sm-4">
            <div class="card h-100 my-3">
                <div class="card-body">
                    <a href='/placeDetail/{{this._id}}'><img class="card-img-top mb-3" src="{{this.image}}" alt=""></a>
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <div class='text-center'>
                        <button class="btn btn-outline-secondary mx-2 px-4"><a href='/edit/{{this._id}}'>Edit Place</a></button>
                        <button class="btn btn-outline-secondary mx-2"><a href='/delete/{{this._id}}'>Delete Place</a></button>
                    </div>
                </div>
            </div>
          </div>
        {{/each}}
  </div>
  <div class="border-bottom">
<button class="btn btn-primary my-5 text-white d-block mx-auto btn-block w-50 h-50 py-2" ><a class="profile-btn" href='/add'>Add New Place</a></button>
</div>
<img class=" d-flex text-center mx-auto myfavourite" src="../images/myfavourite.png">
<div class="row my-3">
        {{#each favorites}}
            <div class="col-sm-4">
            <div class="card h-100 my-3">
            <div class="card-body">
            <a href='/placeDetail/{{this._id}}'><img class="card-img-top mb-3" src="{{this.image}}" alt=""></a>
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            </div>
            </div>
            </div>
        {{/each}}
  </div>



    